*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}

html,
:host {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	font-family: var(--geist-sans);
	tab-size: 4;
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;

	@supports (scrollbar-width: auto) {
		scrollbar-width: thin;
		scrollbar-color: var(--pf-primary) transparent;
		scrollbar-gutter: stable;
	}

	interpolate-size: allow-keywords;
}

body {
	line-height: inherit;
	color: var(--pf-accent-90);
	background-color: var(--pf-accent-10);
	font-size: var(--pf-text-normal);
}

::selection {
	background: var(--pf-primary-dark);
	color: var(--pf-accent-5);
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

a {
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

button,
input,
optgroup,
select,
textarea,
::file-selector-button {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	background: transparent;
}

input:where(:not([type="button"], [type="reset"], [type="submit"])),
select,
textarea {
	border: 1px solid;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
	appearance: button;
}

:-moz-focusring {
	outline: auto;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

summary {
	display: list-item;
}

ol,
ul {
	list-style: none;
}

dialog {
	padding: 0;
}

::placeholder {
	opacity: 1;
	color: color-mix(in oklab, currentColor 50%, transparent);
}

img,
svg,
video,
canvas,
picture,
iframe,
audio {
	display: block;
	vertical-align: middle;
}

img,
video {
	max-width: 100%;
	height: auto;
}

[hidden] {
	display: none !important;
}

button,
[role="button"] {
	cursor: pointer;
}

:disabled {
	cursor: default;
}

[hidden]:where(:not([hidden="until-found"])) {
	display: none !important;
}
