[popover] {
	inset: unset;
}

.cast-role {
	font-size: var(--pf-text-sm);
}

.card-title {
	font-weight: 500;

	.custom-card-credit:hover & {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

.list-item {
	.heading {
		font-weight: 600;
	}

	.content {
		flex-wrap: wrap;
	}
}

.episodes {
	display: flex;
	gap: 1rem;

	@media (max-width: 1024px) {
		flex-direction: column;
	}

	.content {
		.episode-section {
			font-weight: 600;
		}

		.date {
			color: var(--pf-accent-60);
		}
	}
}

.official-site {
	display: flex;
	flex-direction: row;

	& > span:not(:last-child)::after {
		content: "•";
		margin-inline: 0.5rem;
	}
}

.list-with-dot {
	display: flex;
	flex-direction: row;

	& > :not(:last-child)::after {
		content: "•";
		margin-inline: 0.5rem;

		@media (max-width: 768px) {
			margin-inline: 0.25rem;
		}
	}
}

.creators {
	display: flex;
	flex-direction: column;

	& > span {
		font-weight: 600;
	}

	& > div {
		flex-wrap: wrap;
	}
}

.back-to-top-button {
	position: fixed;
	bottom: 3vh;
	right: 3dvw;
	z-index: 6;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.loading-indicator {
	position: fixed;
	bottom: 10dvh;
	left: 3dvw;
	z-index: 7;
	inline-size: 3rem;
	block-size: 3rem;

	opacity: 0;
	animation:
		fadeIn 500ms 100ms forwards,
		rotate 1s linear infinite;

	& > svg {
		inline-size: 100%;
		block-size: 100%;
		fill: var(--pf-primary-light);
	}
}

.truncate {
	--line-height: calc(1lh * var(--pf-truncate, 3) - 2lh);
	display: block;
	position: relative;
	inline-size: 100%;

	&[data-truncated="true"] > div {
		overflow-wrap: break-word;
		inline-size: 100%;
		max-height: calc(1lh * var(--pf-truncate, 3));
		overflow: clip;
		transition: max-height 200ms ease-in-out;
		mask-image:
			linear-gradient(
				0deg,
				transparent 0,
				transparent calc(var(--line-height)),
				black calc(var(--line-height))
			), linear-gradient(279deg, transparent 0, transparent 13ch, black);

		&[data-expanded="true"] {
			max-height: fit-content;
			padding-block-end: 1lh;
			mask-image: none;
		}
	}

	button {
		color: var(--pf-primary);
		display: inline-flex;
		position: absolute;
		align-items: flex-end;
		justify-content: flex-end;
		right: 0;
		bottom: 0;
		inline-size: 100%;
		block-size: 100%;

		&[aria-pressed="true"] {
			bottom: 0;

			& > svg {
				rotate: 180deg;
			}
		}
	}
}

.view-more-card {
	display: block;
	box-shadow: var(--pf-shadow-md);
	border-radius: var(--pf-radius);
	transition: box-shadow 150ms ease-in-out;
	user-select: none;

	&:hover {
		box-shadow: var(--pf-shadow-lg);

		& > a {
			text-decoration: underline;
		}
	}

	& > a {
		display: flex;
		flex-direction: column;
		inline-size: 100%;
		block-size: 100%;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}

.videos {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1rem;

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.video {
	display: block;
	position: relative;
	contain: content;
	inline-size: 100%;
	block-size: auto;
	border-radius: var(--pf-radius);
	overflow: hidden;

	&::before {
		content: attr(title);
		display: block;
		position: absolute;
		top: 0;
		/* Pixel-perfect port of YT's gradient PNG, using https://github.com/bluesmoon/pngtocss plus optimizations */
		background-image: linear-gradient(
			180deg,
			rgb(0 0 0 / 67%) 0%,
			rgb(0 0 0 / 54%) 14%,
			rgb(0 0 0 / 15%) 54%,
			rgb(0 0 0 / 5%) 72%,
			rgb(0 0 0 / 0%) 94%
		);
		block-size: 99px;
		inline-size: 100%;
		color: hsl(0deg 0% 93.33%);
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
		font-size: var(--pf-text-normal);
		padding-inline: clamp(0.5rem, 0.12rem + 12vw, 1.5rem);
		padding-block: clamp(0.25rem, 0.12rem + 12vi, 1.5rem);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		box-sizing: border-box;
	}

	&::after {
		content: "";
		display: block;
		padding-bottom: calc(100% / (16 / 9));
	}

	& > button {
		display: block;
		/* Make the button element cover the whole area for a large hover/click target… */
		inline-size: 100%;
		block-size: 100%;
		/* …but visually it's still the same size */
		background: no-repeat center / 68px 48px;
		/* YT's actual play button svg */
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
		position: absolute;
		cursor: pointer;
		z-index: 1;
		filter: grayscale(100%);
		transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
		border: 0;
	}
}

.credit-details {
	summary {
		display: block;
		font-weight: 600;
		background-color: var(--pf-accent-5);
		padding-block: 1rem;

		&[open] svg {
			rotate: 180deg;
		}

		h3 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-inline: 1rem;

			/* details[open] & {
				svg {
				}
			} */
		}
	}

	.credits {
		display: flex;
		flex-direction: column;
		padding-inline: 1rem;

		.credit {
			display: flex;
			position: relative;
			padding-block: 0.5rem;
			gap: 0.5rem;
			inline-size: 100%;
			align-items: center;

			&:not(:last-child) {
				border-block-end: solid 1px;
			}

			&:hover > .item h4 {
				text-decoration: underline;
			}

			a {
				block-size: 100%;
				inline-size: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.thumbnail {
				display: block;
				inline-size: 48px;
				block-size: fit-content;
				border-radius: var(--pf-radius);
				overflow: hidden;
				flex-shrink: 0;
			}

			.date {
				flex-shrink: 0;
				color: var(--pf-primary-dark);
			}

			.item {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				inline-size: 100%;

				/* biome-ignore lint/style/noDescendingSpecificity: safe */
				h4 {
					color: var(--pf-accent-95);
					font-weight: 600;
				}

				ul {
					font-size: var(--pf-text-sm);
					color: var(--pf-accent-70);
					margin-inline-start: 0.5rem;
				}
			}
		}
	}
}
