.footer {
	background-color: var(--pf-accent-20);
	width: 100%;

	.wrapper {
		display: flex;
		position: relative;
		max-width: 92vw;
		margin-inline: auto;
	}
}

.bottom {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
