.header {
	display: block;
	position: sticky;
	inline-size: 100%;
	block-size: var(--pf-header-height);
	top: 0;
	left: 0;
	z-index: 5;
	background-color: var(--pf-accent-20);

	& > nav {
		max-width: 92dvw;
		margin-inline: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		block-size: 100%;

		.navigation {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1.5rem;

			@media (min-width: 768px) {
				.navbutton {
					display: none;
				}
			}

			& > .items {
				display: inline-flex;
				flex-direction: row;
				gap: 0.5rem;

				&:is(ul) {
					gap: 0.75rem;

					@media (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
}

.home {
	font-weight: 700;
	color: var(--pf-primary);
	font-size: clamp(1rem, calc(0.5rem + 5vw), 2rem);
	line-height: 1;
}

.mobile {
	inline-size: max-content;
	min-inline-size: 30dvw;
	block-size: 100dvh;
	right: 0;
	top: 0;
	box-shadow: var(--pf-shadow-md);
	padding-inline: 1.5rem;

	& > .head {
		display: flex;
		gap: 0.5rem;
		height: var(--pf-header-height);
		align-items: center;
		justify-content: flex-end;
	}

	& > nav {
		font-size: var(--pf-text-xl);
	}
}
