.modal {
	max-inline-size: 90dvw;
	max-block-size: 90dvh;
	margin: auto;

	&::backdrop {
		background-color: color-mix(in oklab, var(--pf-black) 50%, transparent);
		backdrop-filter: blur(6px);
	}

	&:open {
		border-radius: var(--pf-radius);
		margin: auto;
		box-shadow: var(--pf-shadow-lg);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	inline-size: fit-content;
	padding: 1rem;
	box-shadow: var(--pf-shadow-md);
}

.top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	& > .title {
		font-weight: 600;
	}
	& > button {
		flex-shrink: 0;
	}
}
