.episodes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.episode {
	font-size: var(--pf-text-sm);

	h3 {
		font-size: var(--pf-text-normal);
		font-weight: 500;
		display: flex;
		gap: 0.5rem;

		& > span:first-child {
			flex-shrink: 0;
		}
	}

	.details {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h4 {
			font-weight: 600;
		}

		.credits {
			display: grid;
			grid-template-columns: repeat(4, minmax(0, 1fr));
			gap: 0.5rem;

			@media (max-width: 768px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			& > h4 {
				grid-column: 1 / -1;
			}
		}
	}
}

.videos {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1rem;

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
