.carousel {
	container: carousel / inline-size;
	display: flex;
	flex-direction: column;
}

.viewport {
	--carousel-column-gap: calc(0.125rem + 2cqi);
	--carousel-column-width: 30cqw;
	overflow: hidden;

	@container carousel (width >= 462px) {
		--carousel-column-width: 20cqw;
	}

	@container carousel (width >= 876px) {
		--carousel-column-width: 18cqw;
	}
}

.container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc(
		var(--carousel-column-width) -
		var(--carousel-column-gap)
	);
	column-gap: var(--carousel-column-gap);
	touch-action: pan-y pinch-zoom;
	padding-block-start: calc(0.125rem + 1.2cqi);
	padding-block-end: calc(0.125rem + 3cqi);
}

.skeleton {
	inline-size: 100%;
	background-color: var(--pf-accent-5);
	border-radius: var(--pf-radius);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& > * {
		animation: var(--pf-animation-pulse);
		background-color: var(--pf-accent-50);
		border-radius: var(--pf-radius);
		overflow: hidden;
	}

	& > :nth-child(1) {
		inline-size: 100%;
		block-size: clamp(150px, 25cqi + 2rem, 289px);
	}

	& > :nth-child(2) {
		inline-size: 6ch;
		block-size: 2ch;
		margin-block-start: 0.5rem;
		margin-inline: 0.5rem;
	}

	& > :nth-child(3) {
		inline-size: 10ch;
		block-size: 4ch;
		margin-block-end: 0.5rem;
		margin-inline: 0.5rem;
	}
}

.controls {
	display: flex;
	gap: 1rem;
	justify-content: space-between;

	& > .buttons {
		flex-shrink: 0;
	}

	& > .progress {
		height: 0.5rem;
		inline-size: 35%;
		align-self: center;
		overflow: hidden;
		border-radius: var(--pf-radius);
		border: solid 1px;
		display: block;
		appearance: none;

		&[value]::-webkit-progress-bar {
			background-color: var(--pf-accent-10);
		}

		&[value]::-webkit-progress-value,
		&[value]::-moz-progress-bar {
			background-color: var(--pf-primary);
		}
	}
}
