.img {
	inline-size: 100%;
	block-size: auto;
	object-fit: cover;
	object-position: center;
	background-color: var(--pf-accent-50);
}

.full {
	block-size: 100%;
}

.poster:not(.full) {
	aspect-ratio: 2 / 3;
}

:is(.backdrop, .still):not(.full) {
	aspect-ratio: 16 / 9;
}

.fallback {
	inline-size: 100%;
	block-size: auto;
	background-color: var(--pf-accent-50);
	display: flex;
	align-items: center;
	justify-content: center;
}
